body {
    display: flex;
    justify-content: center;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(190, 190, 190);
    width: 800px;
}

#game > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
    color: white;
    height: 200px;
    width: 200px;
    background-color: black;
    box-sizing: border-box;
    padding: 15px;
}

#game > div:hover {
    background-color: red;
    color: red;
}

span {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    width: 200px;
    height: 200px;
    line-height: 200px;
}
span:hover {
    color: white;
    opacity: 1;
}